.post-comments-wrapper {
    min-height: 40px;
}

.post-comments-profile-image-wrapper {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 15px;
}

.post-comments-profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-comments-comment-input {
    display: inline-block;
    background-color: white;
    min-height: 34px;
    /* width: 260px; */
    width: 80%;
    padding: 5px;
    position: relative;
}

.post-comments-comment-input .MuiTextField-root {
    /* width: 210px; */
    width: 100%;
}

.post-comments-post-button {
    margin-left: 5px;
    position: absolute;
    bottom: 5px;
}

.post-comments-add-new-comment-wrapper {
    display: flex;
    justify-content: flex-start;
}
