.responsive-notifications-view-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.responsive-notifications-view-container {
    width: 100%;
    margin: auto;
    height: calc(100% - 92px) ;
    margin-top: 40px;
    margin-bottom: 38px;
}

.responsive-notifications-view-container h4 {
    text-align: center;
}

.responsive-menu-section-name {
    border-bottom: 1px solid rgb(165, 161, 161);
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .responsive-menu-section-name {
      display: none;
    }
  }
