.notifications-view-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 230px;
    /* margin: 2%; */
    max-height: 80vh;
    position: relative;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* overflow: scroll; */
}

.notifications-view-container .infinite-scroll-component {
    display: inline-block;
    height: 500px !important;
    width: 100%;
}

.notifications-view-container .infinite-scroll-component h4 {
    text-align: center;
}