.notifications-view-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 500px;
    /* margin: 2%; */
    max-height: 80vh;
    /* position: absolute; */
    width: 600px;
    /* top: 60px;
    right: 150px; */
    /* margin-right: 200px; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    top: 14px;
    right: 108px;
}

.notifications-view-container .infinite-scroll-component {
    display: inline-block;
    height: 500px !important;
    width: 100%;
    padding: 10px;
}

.notifications-view-container .infinite-scroll-component h4 {
    text-align: center;
}

.notifications-view-container-backdrop {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100vh;
    z-index: 10;
    /* background-color: green; */
}

.notifications-view-menu-arrow {
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: -1;
    position: absolute;
    right: 20px;
    top: -5px;
    transform: rotate(45deg);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 1000px) {
    .notifications-view-container {
        right: 40px;
    }
}