.profile-edit-change-password-responsive-title {
    flex: 3 1 auto;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0px;
}


#profile-edit-activity-info-change-password-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 100px;
    padding: 20px;
    transition: display 0.4s;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #profile-edit-activity-info-change-password-wrapper {
        margin-top: 45px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    #profile-edit-activity-info-change-password-wrapper {
        width: 100%;
    }
}

.profile-edit-activity-info-change-password-field {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-edit-activity-info-inputs {
    flex: 3 1 auto;
    min-width: 0px;
}

.profile-edit-activity-info-password-visibility-icon {
    cursor: pointer;
    height: 30px;
    margin-top: 30px;
}

@media only screen and (min-width: 600px) {
    .profile-edit-activity-info-password-visibility-icon:hover {
        color: white;
        opacity: 0.8;
        transition: color 0.4s;
    }    
}


.profile-edit-activity-info-change-password-user-info {
    display: flex;
    align-items: center;
    width: 100%;
}


.profile-edit-activity-info-change-password-user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-edit-activity-info-change-password-user-info span {
   font-size: 20px;
   font-weight: bold;
   margin-left: 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   min-width: 0px;
}

#profile-edit-activity-password-success {
    display: none;
}

#profile-edit-activity-password-error {
    display: none;
}