.single-post {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 220px;
    margin-bottom: 20px;
    position: relative;
    width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.single-post:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 950px) {
    .single-post:hover .rhap_container {
        box-shadow: none;
    }

    .single-post {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.user-post-image-wrapper {
    display: inline-block;
    width: 100%;
    /* height: 20%; */
    /* height: 180px; */
    position: relative;
}

.user-post-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-post-profile-image-wrapper {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff9f9;
    width: 70px;
    height: 70px;
    margin: 20px;
    position: absolute;
    bottom: -60px;
    left: -10px;
    transition: opacity 0.4s;
}

.user-post-profile-image-wrapper:hover {
    opacity: 0.8;
}

.user-post-profile-image-wrapper img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.user-post-username {
    position: absolute;
    bottom: -30px;
    left: 90px;
    cursor: pointer;
    transition: opacity 0.4s;
    color: initial;
}

.user-post-username:hover {
    opacity: 0.6;
}

.user-post-viewer-options {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    /* position: absolute;
    top: 180px; */
}

.user-post-viewer-options span{
    cursor: pointer;
    margin: 10px;
}

.user-post-play-and-time {
    width: 30%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.user-post-play-and-time:hover {
    opacity: 0.8;  
    transition: opacity 0.4s;
}

.user-post-play-and-time .user-post-play-button {
    color: white;
    font-size: 50px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}

.user-post-play-and-time .user-post-play-button:hover { 
    opacity: 1;
    transition: opacity 0.4s;
}

.user-post-video-time {
    color: white;
}

.user-post-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.user-post-info span {
    margin: 5px 8px 0px 10px;
    font-weight: 500;
}

.single-post hr {
    width: 90%;
    margin: 5px auto 20px;
}

.user-post-description {
    margin: 0px 10px 30px;
    /* word-wrap: break-word; */
    word-break: break-all;
    font-size: 14px;
}

#user-post-player-container {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

@media only screen and (max-width: 320px) {
    #user-post-player-container .rhap_container {
        min-width: auto;
    }
}

.user-post-created-at {
    margin: 10px;
    margin-top: 30px;
}

.user-post-edit-button-container {
    /* float: right;
    margin: 10px;
    margin-right: 20px; */
    position: absolute;
    right: 20px;
    bottom: -40px;
    cursor: pointer;
}

.user-post-edit-options-modal-container {
    width: 200px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 2px 5px rgba(0,0,0,0.12);
    border: 1px solid rgb(121, 118, 118);
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: none;
}

.user-post-edit-options-modal-menu-items {
    list-style: none;
    padding: 0px;
    font-size: 12px;
}

.user-post-edit-options-modal-menu-items li {
    padding-left: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.user-post-edit-options-modal-menu-items li:hover {
    background-color: #4E93F3;
    color: white;
}

.user-post-edit-options-modal-menu-items-edit-post, .user-post-edit-options-modal-menu-items-delete-post {
    display: none;
}

.notifications-message {
    background-color: black;
    color: white;
    z-index: 3;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    display: none;
}

.liked {
    color: rgb(79, 148, 243);
}


.disliked {
    color: rgb(79, 148, 243);
}

@media only screen and (min-width: 1000px) {
    .like:hover {
        color: rgb(79, 148, 243);
    }

    .dislike:hover {
        color: rgb(79, 148, 243);
    }
}

.single-post-outer-layer {
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: space-around;
    align-content:center */
  }