.user-profile-page-user-following-responsive {
    /* background-color: white; */
    height: 100vh;
    /* overflow: scroll; */
    margin-top: 45px;
    margin-bottom: 50px;
}

.user-profile-page-user-following-responsive-section-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-profile-page-user-following-responsive-loading {
    text-align: center;
    display: none;
}