.posts-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 80%;
    margin: 2%;
    position: relative;
    width: 60%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    float: right;
}

.infinite-scroll-component  {
    height: 900px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .posts-container {
        width: auto;
    }
    /* .posts-container {
        background: #fff;
        border-radius: 2px;
        height: 100%;
        margin: 0vw;
        width: 50%;
    } */
}

.like:hover {
    color: rgb(79, 148, 243);
}

.liked {
    color: rgb(79, 148, 243);
}

.dislike:hover {
    color: rgb(79, 148, 243);
}

.disliked {
    color: rgb(79, 148, 243);
}
