.posts-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 80%;
    margin: 2%;
    position: relative;
    width: 60%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    float: right;
}

.posts-container .infinite-scroll-component  {
    height: 900px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.infinite-scroll-component p {
    width: 100%;
}

@media only screen and (max-width: 1050px) {
    .posts-container {
       margin-right: 0px;
       width: 510px;
    }
}

@media only screen and (max-width: 1150px) {
    .posts-container {
       margin-right: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .posts-container {
        width: 100%;
        margin: 0;
    }
    .infinite-scroll-component__outerdiv {
        width: 320px;
        margin: auto;
    }
    /* .posts-container {
        background: #fff;
        border-radius: 2px;
        height: 100%;
        margin: 0vw;
        width: 50%;
    } */
}

@media only screen and (max-width: 320px) {
    .infinite-scroll-component__outerdiv {
        width: auto;
        margin: auto;
    }
}

