.posts-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    margin-top: 50px;
}

@media only screen and (max-width: 1050px) {
    .posts-container {
       margin-right: 0px;
       margin-left: 0px;
    }
}

@media only screen and (max-width: 1150px) {
    .posts-container {
       margin-right: 30px;
       width: 510px;
    }
}

@media only screen and (max-width: 600px) {
    .posts-container {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;
    }
    .infinite-scroll-component__outerdiv {
        /* width: 320px; */
        margin: auto;
    }

    .content-container {
        height: 100%;
    }

    /* .infinite-scroll-component  */
    /* .posts-container {
        background: #fff;
        border-radius: 2px;
        height: 100%;
        margin: 0vw;
        width: 50%;
    } */
}

@media only screen and (max-width: 320px) {
    .infinite-scroll-component__outerdiv {
        width: auto;
        margin: auto;
    }
}

