.responsive-menu-container {
    background: #fff;
    /* border-radius: 2px; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 2;
}

@media screen and (min-width: 600px) {
    .responsive-menu-container {
        display: none;
    }
}

.responsive-menu-items-container {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    /* margin: 2% 5% 2% 2%; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.responsive-menu-item {
    /* margin: 6px; */
    padding: 0.4rem;
    box-sizing: border-box;
    cursor: pointer;
    /* color: #9be7ff; */
    color: black;
    width: 45px;
    height: 40px;
    /* background-color: #045f73; */
    /* border-radius: 50%; */
    text-align: center;
}

.responsive-menu-items-container .active {
    /* background-color: #748d97; */
}

.responsive-menu-item .active {
    /* color: #0d47a1;
    transition: color 0.3s; */
    font-weight: 900;
}

.responsive-menu-content-display-container {
    width: 100%;
    /* min-height: 230px; */
    /* height: 100vh; */
    /* min-width: 330px; */
    /* display: none; */
}





.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}