.content-container {
    background: #fff;
    border-radius: 2px;
    min-height: 100%;
    position: absolute;
    margin-top: 83px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 950px) {
    /* .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    } */
}

@media only screen and (max-width: 600px) {
    .content-container {
       /* margin: auto; */
       margin-top: 83px !important;
       width: 100% !important;
    }
}


.user-profile-content-wrapper {
    /* display: none; */
}

.user-profile-page-user-description {
    padding: 20px;
}