.content-container {
    background: #fff;
    border-radius: 2px;
    /* display: inline-block; */
    min-height: 230px;
    margin: 2vw;
    position: absolute;
    top: 150px;
    width: 95vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .content-container {
       margin: auto;
       width: 100vw;
    }
}

@media only screen and (max-width: 1150px) {
    .content-container {
       margin: auto;
       width: 100vw;
    }
}